/* section one - wiggle */


@keyframes wiggle {
   
    100%{
      
        transform:rotate(360deg);
    }
}

@keyframes wiggle2 {
    
    
    100%{
      
        transform:rotate(-360deg);
    }
}

@keyframes tongtong {
    0%{
        top: 49%;
    }
    50%{
        top:50%;
    }
    100%{
        top: 49%;
    }
}
@keyframes tongtong2 {
    0%{
        top: 70%;
    }
    50%{
        top:71%;
        opacity: 0.4;
    }
    100%{
        top: 70%;
    }
}

.wiggle{
    animation: wiggle 8s infinite;
}
.wiggle2{
    animation: wiggle2 4s infinite;

}

.tongtong{
    animation: tongtong 2s ease-in-out alternate-reverse infinite;
}
.tongtong2{
    animation: tongtong2 2s ease-in-out alternate-reverse infinite;
}
.animateNone{
    animation: none;
}


/* section Two  */
@keyframes up {
    0%{
        width: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}