/* section one - wiggle */


@keyframes wiggle {

    100% {

        transform: rotate(360deg);
    }
}

@keyframes wiggle2 {


    100% {

        transform: rotate(-360deg);
    }
}

@keyframes tongtong {
    0% {
        top: 49%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 49%;
    }
}

@keyframes tongtong2 {
    0% {
        top: 70%;
    }

    50% {
        top: 71%;
        opacity: 0.4;
    }

    100% {
        top: 70%;
    }
}

.wiggle {
    animation: wiggle 8s infinite;
}

.wiggle2 {
    animation: wiggle2 4s infinite;

}

.tongtong {
    animation: tongtong 2s ease-in-out alternate-reverse infinite;
}

.tongtong2 {
    animation: tongtong2 2s ease-in-out alternate-reverse infinite;
}

.animateNone {
    animation: none;
}


/* section Two  */
@keyframes up {
    0% {
        width: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

.neon{
    animation: neon 2s ease-in-out ;
}


.sizeUp {
    transform: scale(1.2);
}
.textOn{
    animation: textOn 2s ease-in-out ;
}

@keyframes neon {
    to {
        text-shadow: 7px 7px 0px #272626;

    }
    from{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f5eece,
      0 0 35px #f5eece, 0 0 40px #f5eece, 0 0 50px #f5eece, 0 0 75px #f5eece;
    }
}
@keyframes textOn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.show{
    animation: show 1s ease-in-out ;
  
}
@keyframes show {
    0%{
        opacity: 0.2;
        width: 0%;
        
    }
    100%{
        opacity: 1;
        width: 100%;
       
    }
}
.textShaking{
    animation: textShaking 2s ease-in-out ;
}
@keyframes textShaking {
    0%{
        transform:scale(0.2);
    }
    35%{
        transform:scale(1.3);
    }
    70%{
        transform:scale(0.7);

    }
    100%{
        transform:scale(1);


}
}
.picShaking{
    animation: picShaking 1.5s ease-in-out infinite;
}
@keyframes picShaking {
    0%{
        transform:rotate(10deg);
    }
    50%{
        transform:rotate(-10deg);

    }
    100%{
     transform:rotate(10deg);

}
}