/* reset */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}




.section1 {
    width: 100vw;
    height: 100vh;
    background-color: #f6ebf7;
    overflow: hidden;
}

.main-c {
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shadow{
    width: 250px;
    height: 40px;
    opacity: 0.2;
    background-color: #272626;
    border-radius: 50%;
    top: 70%;
    left: 50%;
    transform:translateX(-48%);
}
.main-1 {
    width: 50vw;
    height: 50vh;
    top: 4vh;
    left: -11vw;
}

.main-2 {
    width: 25vw;
    height: 25vh;
    top: -5vh;
    left: 25vw;
}

.main-3 {
    width: 28vw;
    height: 28vh;
    top: 8vh;
    left: 44vw;
}

.main-4 {
    width: 35vw;
    height: 35vh;
    top: 3vh;
    left: 70vw;
}

.main-5 {
    width: 50vw;
    height: 50vh;
    top: 55vh;
    left: 65vw;
}

.main-6 {
    width: 22vw;
    height: 22vh;
    top: 45vh;
    left: 60vw;
}

.main-7 {
    width: 20vw;
    height: 20vh;
    top: 73vh;
    left: 48vw;
}

.main-8 {
    width: 10vw;
    height: 10vh;
    top: 78vh;
    left: 40vw;
}

.main-9 {
    width: 32vw;
    height: 32vh;
    top: 55vh;
    left: 10vw;
}

.main-10 {
    width: 40vw;
    height: 40vh;
    top: 60vh;
    left: -20vw;
}

.main-11 {
    width: 10vw;
    height: 10vh;
    top: 40vh;
    left: 32vw;
}


/* ----------------------------set txt */
.wai {
    color: #fff;
    text-shadow: 7px 7px 0px #272626;
    top: 20vh;
    left: 4vw;
}

.work {
    color: #fff;
    text-shadow: 7px 7px 0px #005eea;
    top: 73vh;
    left: 85vw;
}

.etc {
    color: #fff;
    text-shadow: 7px 7px 0px #ea9800;
    top: 65vh;
    left: 22vw;
}
