/* reset */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.section1 {
    width: 100vw;
    height: 100vh;
    background-color: #f6ebf7;
}

.main-c {
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-1 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}

.main-2 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}

.main-3 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}

.main-4 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}

.main-5 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}

.main-6 {
    width: 50vw;
    height: 50vh;
    top: 8%;
    left: -5%;
}