@media (max-width: 1920px) {
    .main-c {
        width: 30%;
        height: 30%;
    }

    .main-2 {
        transform: scale(0.7);
    }

    .main-3 {
        transform: scale(0.7);
    }

    .main-4 {
        transform: scale(0.7);
    }

    .main-6 {
        transform: scale(0.7);
    }

    .main-7 {
        transform: scale(0.7);
    }

    .main-8 {
        transform: scale(0.7);
    }

    .main-10 {
        transform: scale(0.7);
    }

    .main-11 {
        transform: scale(0.7);
    }

    .f4 {
        transform: scale(0.7);
        transform: rotate(-360deg);
    }

    .f7 {
        top: 50vh;
        transform: scale(0.7);
        transform: rotate(-360deg);
    }

    .f1 {
        transform: scale(0.7);
        transform: rotate(360deg);
    }

    .f2 {
        transform: scale(0.7);
        transform: rotate(360deg);
    }

    .f3 {
        transform: scale(0.7);
        transform: rotate(360deg);
    }

    .f5 {
        transform: scale(0.7);
        transform: rotate(360deg);
    }

    .f6 {
        transform: scale(0.7);
        transform: rotate(360deg);
    }

    .etc {
        font-size: 5rem;
        left: 20vw;
    }

    .wai {
        font-size: 5rem;
        left: 2vw;
    }

    .work {
        font-size: 5rem;
        left: 80vw;
    }

    .left {
        width: 95vw;
        height: 75vh;
    }

    .right {
        width: 60vw;
        height: 65vh;
    }

    .textLeft>p {
        font-size: 2rem;
    }

    .textLeft>h1 {
        font-size: 1.2rem;
        margin-left: -20px;
    }

    .textRight>p {
        font-size: 2rem;
    }

    .textRight>h1 {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .me {
        transform: translateX(-50%) scale(0.6);
    }

    .license {
        font-size: 1.3rem;
        height: 300px;
        line-height: 4.5vh;
    }

    .pc {
        height: 10px;
    }

    .percentBox {
        height: 300px;
        top: 60vh
    }
}