/* about work */

.section3 {
    width: 100vw;
    height: 100vh;
    background-color: black;

}

.link3 {
    width: 100vw;
    height: 6vh;
    background-color: #fcc54d;
}

.linkBtThree{
    width: 3vw;
    height: 4vh;
    top: 1vh;
    left: 1vw;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.section3Page {
    width: 100vw;
    height: 100vh;
    top: 0vh;
}

.leftPage {
    margin-top: 6vh;
    width: 50vw;
    height: 70vh;
    background: radial-gradient(#fd2d87, #ffffff, #ffffff);
    /* border:3px solid whitesmoke; */
    float: left;
}

.rightPage {
    margin-top: 6vh;
    width: 50vw;
    height: 70vh;
    /* border:3px solid rgb(202, 202, 202); */
    background: radial-gradient(#162e1f, #ffffff, #ffffff);
    /* background: radial-gradient(#718274, #162e1f); */
    float: right;
}

.etcPage {
    left: 0;
    top: 70vh;
    width: 100vw;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    /* border:4px solid whitesmoke; */
}

.bgc {
    bottom: 0;
    width: 100vw;
    height: 15vh;
    background-color: #fdbb2dd7;
    ;
}

/* 상세 설정 모니터링 구간 */
.citypopview {
    width: 806px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.citypop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67.5%);
    width: 715px;
    height: 405px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.citypop>img {
    display: block;
    width: 715px;
    height: 405px;
    transition: 1.5s;
    cursor: pointer;

}

.hoggleview {
    width: 806px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hoggle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67.5%);
    width: 715px;
    height: 405px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.hoggle>img {
    display: block;
    width: 715px;
    height: 405px;
    transition: 1.5s;
    cursor: pointer;

}

/* button */
.citypopBt {
    width: 250px;
    height: 100px;
    border: #fdbb2d 10px double;
    background-color: white;
    border-radius: 50px;
    /* box-shadow: 8px 8px 0px #fdbb2d; */
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.citypopBt>a {
    cursor: pointer;
    font-family: 'RixYeoljeongdo_Regular';
    font-size: 1.3rem;
    color: #fdbb2d;
}

.citypopBt:hover {
    transform: translateX(-50%) scale(1.1);
}

.hoggleBt {
    width: 250px;
    height: 100px;
    border: #fdbb2d 10px double;
    background-color: white;
    border-radius: 50px;
    /* box-shadow: 8px 8px 0px #fdbb2d; */
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.hoggleBt>a {
    cursor: pointer;
    font-family: 'RixYeoljeongdo_Regular';
    font-size: 1.3rem;
    color: #fdbb2d;
}

.hoggleBt:hover {
    transform: translateX(-50%) scale(1.1);
}

.ai {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 15%;
    z-index: 1;

}

.ai>a>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #fdbb2d 10px double;
    cursor: pointer;

}
.ai>a>img:hover{
    transform: scale(1.1);
}

.ai2 {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 35%;
    z-index: 1;
}

.ai2>a>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: #fdbb2d 10px double;
    cursor: pointer;


}
.ai2>a>img:hover{
    transform: scale(1.1);
}


.ps {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 55%;
    z-index: 1;
}

.ps>a>img {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: #fdbb2d 10px double;
    cursor: pointer;


}
.ps>a>img:hover{
    transform: scale(1.1);
}


.olion {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 75%;
    z-index: 1;
}

.olion>a>img {
    width: 100%;
    height: 100%;
    border: #fdbb2d 10px double;
    border-radius: 50%;
    cursor: pointer;

}
.olion>a>img:hover{
    transform: scale(1.1);
}
