*{padding: 0; margin: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333;}
ul,li{list-style: none;}


.section1{overflow: hidden; height: auto;}

.section1 #header{  align-items: center;  width: 100%; height: 100px; background-color: #fff; position: relative;}

.section1 #header .con{ width: 100%; height: 100px; background-color: #fff; margin: 0 auto;  display: flex; align-items: center;}

.section1 #header #logo { width: 200px; height: 200px; position: absolute; top: -50px; left:30px;}

.section1 #header #logo img{ width: 100%; height: 100%;}
.section1 #header nav{width: 70%; height: 100px; line-height: 100px; position: relative; top: 0%; right: -25%;}

/* gnb */
.section1 #header .gnb>li{float: left; width: 15%; text-align: center;}
.section1 #header .gnb>li:hover .sub{display: block;}
.section1 #header .gnb>li>a{font-size: 22px; display: block; font-family: "mob-b";}
.section1 #header .gnb>li:hover>a{color: red;}


/* 
header nav>.drop-box {
  width: 70%;
  height: 300px;
  background-color: lavenderblush;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1111111;
} */
/* 서브메뉴 */
.section1 #header .sub{display: none; } 
/* 서브메뉴 크기조절 */
.section1 #header .sub>li{ line-height: 45px; text-align: center; position: relative; left: 50%; transform: translateX(-50%); z-index: 99; background-color: #FFF;}
.section1 #header .sub>li>a{ font-size: 18px;  display: block; font-family: "noto-m";} 
.section1 #header .sub>li>a:hover{ font-weight: bolder; color: #f44f41; ;}
/* 보더 바텀 길이조절 */ 
.section1 #header .sub>li p{width: 80%; margin: 0 auto;}
/* 서브메뉴 호버시 밑줄 */
.section1 #header .sub>li p:hover{border-bottom: 2px solid #f44a41;}



/* 우측 상단 동그라미 4개 */
/* .section1 #header nav .sns{float: right; height: 70px; width: 250px; position: absolute; top: 30%; right: 0; display: flex; justify-content:space-around;}
.section1 #header nav .sns>div>img{ display: block; height: 35px; width: 35px;  float: left; position: absolute;  cursor: pointer;} */

/* 우측 상단 동그라미 4개 호버시 */
/* .section1 #header nav .sns1{float: right; height: 70px; width: 250px; position:absolute;top: 30%; right: 0; display: flex; justify-content:space-around;}
.section1 #header nav .sns1>div>img{ display: block; height: 35px; width: 35px;  float: left; position: absolute; top: 0; left: 0;  cursor: pointer;} */

.section1 .sns{
  width: 25%; height: 100px;  position: relative; top:8%; left:90%;
}
.section1 .sns .icon1{
  width: 20px; height: 100px; position: absolute; top: 0%; left: 0%; cursor: pointer;
}
.section1 .sns .icon2{
  width: 20px; height: 100px; position: absolute; top: 0%; left: 50px; cursor: pointer;
}
.section1 .sns .icon3{
  width: 20px; height: 100px; position: absolute; top: 0%; left: 100px; cursor: pointer;
}
.section1 .sns .icon4{
  width: 20px; height: 100px; position: absolute; top: 0%; left: 150px; cursor: pointer;
}

#menu{width: 100%; height: 50px; background-color: #f6f6f6;}
#menu-con{width: 1280px; height: 50px; display: flex; align-items: center; margin: 0 auto; background-color: #f6f6f6;}
#menu-con a{margin: 20px; font-family: "noto-m"; font-size: 18px;}

#wrap{width: 1280px; height: auto; margin: 0 auto;  }
#menu-icon{width: 100%; height: 200px; background-color: #fff; display: flex; justify-content: center; padding-top: 20px;}
#micon{width: 150px; height: 150px; background-color:#fff; position: relative; display: flex; justify-content: center;}
#micon img{width: 70px; height: 70px; margin-top: 10px;}
#micon img:hover{ cursor: pointer;}
#micon p{font-size: 16px; color: #404040; position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); font-family: 'noto-m';}


/* 타이틀 문구 */
#txtbox{width: 100%; height: 130px; border-bottom: 2px solid black; border-bottom: 2px solid #404040; margin-bottom: 50px;}
#txtbox h3{font-size: 38px; font-family: "mob-b"; margin-bottom: 20px; }
#txtbox span{ font-size: 18px; font-family: "noto-m"; margin-bottom: 60px;}
#txtbox strong{ color: #f44a41;}

/* 제품 나열 */
#group{width: 1280px; height: 1020px;; margin: 0 auto; position: relative;}
#group>.pro1>li{width:33.33%; height: 33.33%;  position: absolute; top:0; left: 0%;}
  #group>.pro1>li>img{ position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
    #group>.pro1>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
#group>.pro2>li{width:33.33%; height: 33.33%;  position: absolute; top:0; left: 33.33%;}
  #group>.pro2>li>img{ position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
   #group>.pro2>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
#group>.pro3>li{width:33.33%; height: 33.33%;  position: absolute; top:0; left: 66.66%;}
  #group>.pro3>li>img{ position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
    #group>.pro3>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
#group>.pro4>li{width:33.33%; height: 33.33%;  position: absolute; top:33.33%; left: 0%;}
  #group>.pro4>li>img{ position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
    #group>.pro4>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
#group>.pro5>li{width:33.33%; height: 33.33%;  position: absolute; top:33.33%; left: 33.33%;}
  #group>.pro5>li>img{position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
   #group>.pro5>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
#group>.pro6>li{width:33.33%; height: 33.33%;  position: absolute; top:33.33%; left: 66.66%;}
  #group>.pro6>li>img{ position: absolute; top:0; left: 70px; width: 70%; height: 70%;}
    #group>.pro6>li>span{ width: 100%; height: 100%;  display: flex; justify-content: center; align-items:flex-end; padding-bottom: 60px; font-size: 18px; font-family: "noto-m"; }
 

#group>ul>li>p{ width: 90px; height: 30px; background-color: #f44a41; font-size: 15px; font-family: "noto-m"; color: #fff; text-align: center; line-height: 30px; border-radius: 30px; margin:0 auto; margin-top: -50px;}  
h3.plus{ width:150px; height: 60px; border:#f44a41 3px solid; text-align: center; line-height: 55px; font-family: "noto-m"; color: #f44a41; border-radius: 30px; position: absolute; left: 45%; bottom: 20%; transform:rotate(-50px);cursor: pointer;} 

#mega-b{ width: 100%; height: 700px; background-color: #f4ddd4; position: relative; display: flex; justify-content: center;}

#mega-b>.mega{width: 1280px ;height:60%; position: relative;top:30%; display:flex; justify-content: space-between;} 
#mega-b>h3 { width: 300px; height: 200px; position: absolute; top: 10%; left: 45%; font-size: 38px; font-family: "mob-b"; font-weight: lighter;} 
#mega-b>.mega li{background-color: #000; overflow: hidden; cursor: pointer;}
#mega-b>.mega li>img{width: 100%; height: 100%;}

#mega-b>.mega li:nth-child(1){width: 550px; height: 100%;}
#mega-b>.mega li:nth-child(2){width: 200px; height: 100%;}
#mega-b>.mega li:nth-child(3){width: 200px; height: 100%;}
#mega-b>.mega li:nth-child(4){width: 200px; height: 100%;}


/* onmouseover="this.src='img/kr-hover.png'" onmouseout="this.src='img/오리온_메인서브페이지(RGB)_03.jpg'" */

#footbar {
  background-color: #666666;
  color: #ababab;
  bottom: 0px;
  width: 100%;
  height: 150px;
  color: #fff;
  font-family: "noto-l";
}

/* 푸터로고 */
#footbar .foot-con{width: 1280px; height: 100%; margin: 0 auto; position: relative; padding-top: 20px;}
#footbar .foot-logo{width: 140px; height: 35px;}
#footbar .foot-logo a img{ width: 100%; height: 35px; display: block;}

/* 푸터 텍스트 */
#foot-text{margin-top: 40px; margin-left: 15; display: flex; justify-content: space-between; align-items: center; width: 380px; font-family: 'noto-r';}
#foot-text a{display: block; padding-right: 15px; border-right: 1px solid #ababab; font-family: 'noto-r';}
#foot-text p{display: block; color: #ababab; font-family: 'noto-r'; font-size: 13px;}
#foot-text a:last-child{border-right: 0;}

/* 카피라이트 */
#copy{position: absolute; right: 20px; top: 55px; color: #ababab; font-weight: 100; font-family: 'noto-r'; font-size: 11px;} 

/* 주소 전화번호 등 */
#foot-juso{font-size: 11px; width: 1200px; height: 30px; color: #ababab; margin-top: 5px; margin-left: 0px; font-family: 'noto-r';}

@font-face{
	src: url(../font/DXMobrGExtraBold-KSCpc-EUC-H.ttf);
	font-family: "mob-b";
}

@font-face {
  font-family: 'noto-m';
  src: url(../font/NotoSansCJKkr-Medium.otf);
}

@font-face {
  font-family: "noto-r";
  src: url(../font/NotoSansCJKkr-Regular.otf);
}

@font-face {
  font-family: "noto-l";
  src: url(../font/NotoSansCJKkr-Light.otf);
}