@font-face {
    font-family: mononoki-b;
    src: url(../font/mononoki-Bold.ttf);
}
@font-face {
    font-family: mononoki-bit;
    src: url(../font/mononoki-BoldItalic.ttf);
}
@font-face {
    font-family: hm-b;
    src: url(../font/IM_Hyemin-Bold.ttf);
}@font-face {
    font-family: hm-r;
    src: url(../font/IM_Hyemin-Regular.ttf);
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}