@font-face {
    font-family: harry-p;
    src: url(../font/harry-p.ttf);
}
@font-face {
    font-family:cafe ;
    src: url(../font/Cafe24Oneprettynight.ttf);
}



/* ---------------초기화 */
*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;

}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* -----------로고 앤 메뉴 */

#container{
    width: 100%;
    height:3000px;
    position: relative;
    background-color: #20302A;
}

#container>.logo>img{
    width: 55px;
    height: 35px;
    top: 10px;
    left: 30px;
    opacity: 0.7;
    cursor: pointer;
}
#container>.logo>img:hover{
 opacity: 1;
}
#container>.logo>.menu{
    width: 700px;
    height: 50px; 
    top: 50px;
    left: 35px;
    /* display: inline-flex; */

 }
 #container>.logo>.menu>li{

    margin-right: 130px;
    opacity: 0.5;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }
#container>.logo>.menu>li:hover{
    opacity: 1;
    animation: glow 1s ease-in-out infinite alternate;
    cursor: pointer;
}


h1{
    font-family: harry-p;
    font-size: 5rem;
    color: #FBF1E0;
    top: 150px;
    left:20%;
    font-weight: lighter;
    z-index: 999;

}

h1>strong{
    font-size: 10rem;
    font-weight: lighter;
}

/*------------------------가랜드 */

#container>.garland{
    width: 100vw;
    height: 50%;
    top:9%;
    left: 0;
}
/* 가랜드 아이콘 */
#container>.garland>.a-part>.icA{
    top: 75px;
    left: 9%;
   transform: scale(0.7) rotate(17deg);
}
#container>.garland>.a-part>.icA:hover{
    transform: scale(0.9) rotate(17deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icB{
    top: 107px;
    left: 15%;
   transform: scale(0.7) rotate(14deg);
}
 #container>.garland>.a-part>.icB:hover{
    transform: scale(0.9) rotate(14deg);
    cursor: pointer;
} 


#container>.garland>.a-part>.icC{
    top: 134px;
    left: 21%;
   transform: scale(0.7) rotate(12deg);
}
#container>.garland>.a-part>.icC:hover{
    transform: scale(0.9) rotate(12deg);
    cursor: pointer;
}




#container>.garland>.a-part>.icD{
    top: 155px;
    left: 27%;
   transform: scale(0.7) rotate(10deg);
}
 #container>.garland>.a-part>.icD:hover{
    transform: scale(0.9) rotate(10deg);
    cursor: pointer;
} 



#container>.garland>.a-part>.icE{
    top: 172px;
    left: 33%;
   transform: scale(0.7) rotate(8deg);
}
#container>.garland>.a-part>.icE:hover{
    transform: scale(0.9) rotate(8deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icF{
    top: 184px;
    left: 39%;
   transform: scale(0.7) rotate(5deg);
}
#container>.garland>.a-part>.icF:hover{
    transform: scale(0.9) rotate(5deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icG{
    top: 190px;
    left: 45%;
   transform: scale(0.7) rotate(3deg);
}
#container>.garland>.a-part>.icG:hover{
    transform: scale(0.9) rotate(3deg);
    cursor: pointer;
}


#container>.garland>.a-part>.icH{
    top: 188px;
    left: 51%;
   transform: scale(0.7) rotate(359deg);
}
#container>.garland>.a-part>.icH:hover{
    transform: scale(0.9) rotate(359deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icI{
    top: 186px;
    left: 57%;
   transform: scale(0.7) rotate(357deg);
}
#container>.garland>.a-part>.icI:hover{
    transform: scale(0.9) rotate(357deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icK{
    top: 176px;
    left: 63%;
   transform: scale(0.7) rotate(353deg);
}
 #container>.garland>.a-part>.icK:hover{
    transform: scale(0.9) rotate(353deg);
    cursor: pointer;
} 



#container>.garland>.a-part>.icL{
    top: 162px;
    left: 69%;
   transform: scale(0.7) rotate(351deg);
}
#container>.garland>.a-part>.icL:hover{
    transform: scale(0.9) rotate(351deg);
    cursor: pointer;
}


#container>.garland>.a-part>.icM{
    top: 142px;
    left: 75%;
   transform: scale(0.7) rotate(348deg);
}
#container>.garland>.a-part>.icM:hover{
    transform: scale(0.9) rotate(348deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icN{
    top: 115px;
    left: 81%;
   transform: scale(0.7) rotate(345deg);
}
#container>.garland>.a-part>.icN:hover{
    transform: scale(0.9) rotate(345deg);
    cursor: pointer;
}



#container>.garland>.a-part>.icO{
    top: 82px;
    left: 87%;
   transform: scale(0.7) rotate(342deg);
}
#container>.garland>.a-part>.icO:hover{
    transform: scale(0.9) rotate(342deg);
    cursor: pointer;
}





/* -------------------------------두번째 라인 */

#container>.garland>.b-part>.line2{
    top: 200px;
    left: 0;
}   

#container>.garland>.b-part>.icP{
    top: 360px;
    left: 28%;
   transform: scale(0.7) rotate(8deg);
}
#container>.garland>.b-part>.icP:hover{
    transform: scale(0.9) rotate(8deg);
    cursor: pointer;
}



#container>.garland>.b-part>.icQ{
    top: 375px;
    left: 34%;
   transform: scale(0.7) rotate(8deg);
}
#container>.garland>.b-part>.icQ:hover{
    transform: scale(0.9) rotate(8deg);
    cursor: pointer;
}


#container>.garland>.b-part>.icR{
    top:385px;
    left: 40%;
   transform: scale(0.7) rotate(5deg);
}
#container>.garland>.b-part>.icR:hover{
    transform: scale(0.9) rotate(5deg);
    cursor: pointer;
}



#container>.garland>.b-part>.icS{
    top:390px;
    left: 46%;
   transform: scale(0.7) rotate(0deg);
}
#container>.garland>.b-part>.icS:hover{
    transform: scale(0.9) rotate(0deg);
    cursor: pointer;
}



#container>.garland>.b-part>.icT{
    top:389px;
    left: 52%;
   transform: scale(0.7) rotate(358deg);
}
#container>.garland>.b-part>.icT:hover{
    transform: scale(0.9) rotate(358deg);
    cursor: pointer;
}



#container>.garland>.b-part>.icU{
    top:384px;
    left: 58%;
   transform: scale(0.7) rotate(356deg);
}
#container>.garland>.b-part>.icU:hover{
    transform: scale(0.9) rotate(356deg);
    cursor: pointer;
}


#container>.garland>.b-part>.icV{
    top:373px;
    left: 64%;
   transform: scale(0.7) rotate(353deg);
}
#container>.garland>.b-part>.icV:hover{
    transform: scale(0.9) rotate(353deg);
    cursor: pointer;
}


/* ------------------------------ text */

#container>.A{
    width: 1700px;
    height: 200px;
    top: 30%;
    left: 5%;
   
}
#container>.A>li{
    width: 280px;
    height: 100px;
    font-family: harry-p;
    font-size: 1rem;
    float: left;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
    color: blanchedalmond;
}
#container>.A>li:nth-child(6){
    font-size: 2rem;
    list-style:circle;
    opacity: 1;
}
#container>.A>li:hover{
    font-size: 2rem;
    list-style:circle;
    opacity: 1;
}



/* ------------------------------ 내용  */

#container>.about{
    width: 700px;
    height: 800px;
    top: 50%;
    left: 35%;
    text-align: center;
    color: #C6BAB7;
    font-family: cafe;

}

#container>.about>h1{
    font-size: 3rem;
    padding: 30px;
    padding-bottom: 10px;

}
#container>.about>h2{
    margin-bottom: 100px;

}   
#container>.about>p{
  line-height: 50px;
}

/* ----------------- 푸터 */

footer{
    background-color: #292e27;
    width:100%;
    height: 200px;
    color: #c6bab7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
}
footer>.fB{
        width: 1280px;
        height: 100%;
      position: relative;
}

footer>.fB>.f-L>a>img{
    width: 45px;
    height: 35px;
    opacity: 0.5;
    top: 10%;
    left: 0;
}

footer>.fB >h1{
    font-size: 16px;
    font-weight: lighter;
    top: 60%;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer>.fB> strong{
        top: 35%;
        left: 0;
        font-size: large;
        font-weight: bold;
}
footer>.fB> p{
        top: 50%;
        left: 12%;
}



/* -----------------------공통 */
.p-a{
    position: absolute;
}
.hidden{
    display: none;
}
.d-b{
    display: block;
}
/* .size{
    transform:scale(0.9);
} */
/* ---------------------애니메이션 */

@keyframes glow {
    from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFDDA7, 0 0 40px #FFDDA7, 0 0 50px #FFDDA7, 0 0 60px #FFDDA7, 0 0 70px #FFDDA7;
        }

    to {
            text-shadow: 0 0 20px #fff, 0 0 30px #FBF1E0, 0 0 40px #FBF1E0, 0 0 50px #FBF1E0, 0 0 60px #FBF1E0, 0 0 70px #FBF1E0, 0 0 80px #FBF1E0;
        }
 }