
            @font-face {
                font-family: harry-p;
                src: url(../font/harry-p.ttf);
            }
            @font-face {
                font-family: kotra;
                src: url(../font/KOTRA\ HOPE_TTF.ttf);
            }





/*------------------------------- reset--------------------------- */
            *{
                    margin: 0 auto;
                    padding: 0;
                    box-sizing: border-box;
                    }

            ul,li{
                 list-style: none;
            }

            a{
                    text-decoration: none;
            }







 /*----------------------------------- 메인 ----------------------------------- */
            #container{
                    background-color: #3c3e3b;
                    position: relative;

            }
            #container>img{
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;

            }

            #container>.logo>img{
                    width: 75px;
                    height: 50px;
                    top: 100px;
                    left: 160px;
                    opacity: 0.7;
                    cursor: pointer;
            }
            #container>.logo>img:hover{
                 opacity: 1;
            }
            .hidden{
                 display: none;
            }



            #container>.menu{
                    width: 100px;
                    height: 700px;
                    top: 230px;
                    left: 150px;
                    text-align: center;
                    /* display: none; */
            }


            #container>.menu>a>li{
                    display: block;
                    font-size: 2rem;
                    margin-top: 130px;
                    opacity: 0.5;
                    color: #fff;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    line-height: 150px;

            }
            #container>.menu>a>li:hover{
                    opacity: 1;
                    animation: glow 1s ease-in-out infinite alternate;
                    cursor: pointer;
            }

            #container>.menu>a>li:first-child{
                 margin-top: 0;
            }

            #container>p{
                    font-size: 10rem;
                    color: #FBF1E0;
                    bottom: 150px;
                    right: 150px;
                    text-align: center;
                    text-shadow: 6px 6px 6px black;
                    z-index: 99999;
            }
            #container>p>strong{
                    color: #FFDDA7;
            }


            /* 구름 효과 */

            #container>.scroll>img{
                    width: 25px;
                    height: 50px;
                    bottom: 130px;
                    left: 50%;
                    z-index: 9999;
                    animation: updown 1s 2s ease-in-out infinite ;
            }
            .clouds{
                    position:absolute;
                    top:0;
                    left:0;
                    height:100%;
                    width:100%;
                    overflow: hidden;
                    pointer-events:none;
            }
            .clouds img{
                    position:absolute;
                    bottom:-100px;
                    max-width:100%; 
                    animation:animate calc(4s * var(--i)) linear infinite;
            }


            .clouds img:nth-child(1){
            left: 0;
            }.clouds img:nth-child(2){
            left: 10%;
            }.clouds img:nth-child(3){
            left: 20%;
            }.clouds img:nth-child(4){
            left: 30%;
            }.clouds img:nth-child(5){
            left: 40%;
            }.clouds img:nth-child(6){
            left: 50%;
            }.clouds img:nth-child(7){
            left: 60%;
            }.clouds img:nth-child(8){
            left: 70%;
            }.clouds img:nth-child(9){
            left: 80%;
            }.clouds img:nth-child(10){
            left: 90%;
            }





 /* -----------------------------section1 ----------------------------------------- */

            section>.box>img{
                    top: 150px;
                    left:25%;

            }
            section>h1{
                    top:650px; 
                    left: 27%;
                    font-size:6rem;
                    color:#c6bab7;
                    font-weight: lighter;
            }





/* =================================section222222222222222======================== */

            #two>.box{
                    width: 50%;
                    height: 100%;
            /* border: 1px solid whitesmoke; */
                    top: 50px;
                    left: 200px;
            }
            #two>.box>.mini:nth-child(1){
                        background-image:url(../img/윙가르디움\ 레비오사\ 짤.gif) ;
                        align-self: auto;
                        width: 500px;
                        height: 250px;
                        top: 50px;
                        left: 50px;
            }
            #two>.box>.mini:nth-child(2){
                    background-image: url(../img/익스펙토\ 페트로눔\ 짤2.gif);
                    background-position-y: center;
                    width: 600px;
                    height: 300px;
                    top: 290px;
                    left: 200px;
            }
            #two>.box>.mini:nth-child(3){
                    background-image:url(../img/아브라카다브라\ 짤.gif);
                    background-position-y: center;
                    width: 500px;
                    height: 180px;
                    top:580px;
                    left: 0px;
            }

            #two>h1{
                    font-size: 4rem;
                    top: 250px;
                    right: 200px;
                    color:#c6bab7;
                    font-weight: lighter;
                    text-align: center;
            }
            #two>h1>strong{
                 font-size: 7rem;
            }




/* ------------------------------------------------ 푸터 ------------------------ */

footer{
    background-color: #292e27;
    width:100%;
    height: 200px;
    color: #c6bab7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer>.fB{
        width: 1280px;
        height: 100%;
      position: relative;
}

footer>.fB>.f-L>a>img{
    width: 45px;
    height: 35px;
    opacity: 0.5;
    top: 10%;
    left: 0;
}

footer>.fB >h1{
    font-size: 16px;
    font-weight: lighter;
    top: 60%;
    left: 0;
}

footer>.fB> strong{
        top: 35%;
        left: 0;
        font-size: large;
        font-weight: bold;
}
footer>.fB> p{
        top: 50%;
        left: 12%;
}



 /*------------------------------------------ 애니메이션 ----------------------------*/

            @keyframes glow {
                    from {
                            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFDDA7, 0 0 40px #FFDDA7, 0 0 50px #FFDDA7, 0 0 60px #FFDDA7, 0 0 70px #FFDDA7;
                        }

                    to {
                            text-shadow: 0 0 20px #fff, 0 0 30px #FBF1E0, 0 0 40px #FBF1E0, 0 0 50px #FBF1E0, 0 0 60px #FBF1E0, 0 0 70px #FBF1E0, 0 0 80px #FBF1E0;
                        }
                    }


            @keyframes updown {
                    0%{
                            opacity: 1;
                            bottom: 130px;
                    }
                    50%{
                            opacity: 0.5;

                    }
                    100%{
                            opacity: 0;
                            bottom: 80px;
                    }

            }

            @keyframes animate{
                    0%{
                        opacity:0;
                        transform:scale(1);
                    }
                    25%, 75%{
                         opacity:2;
                    }
                    100%{
                            opacity:0;
                            transform:scale(3);
                    }
            }






/*------------------------------공통 사용구간---------------------------------- */
            .p-a{
                position: absolute;
            }

            .f-h{
                    font-family: harry-p;
            }

            .bg{
                    background-color: #20302a;
                    width: 100%;
                    height: 100vh;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 99999999999;
            }

            .c-ping{
                    border: 10px solid #20302a;
                    position: absolute;
                    overflow: hidden;
                    top: 0;
                    left: 0;
                    z-index: 9999999999999999999;
            }








/*---------------------------------공통 아이콘-------------------------------------- */

            .icon-img{
                    right: 50px;
                    bottom: 50px;
                    width: 100px;
                    height: 95px; 

            }
            .icon-p{
                    right: 65px;
                    bottom: 75px;
                    z-index: 9999;
            }

             .icon-pa{
                    color:#fff;
                    font-size: 1.2rem;
                    animation: glow 1s ease-in-out infinite alternate;
                 }


